

.blinking3{
	-webkit-animation:blink3 5s ease-in-out infinite ;
    -moz-animation:blink3 5s ease-in-out infinite ;
    animation:blink3 5s ease-in-out infinite ;
}
@-webkit-keyframes blink3{
    0% {opacity:0;}  
    33.3% {opacity:0;}
    62.5% {opacity:0;}  
    70.6% {opacity:1;}  
    95.9% {opacity:1;}
    100% {opacity:0;}
}

.blinking2{
	-webkit-animation:blink2 5s ease-in-out infinite ;
    -moz-animation:blink2 5s ease-in-out infinite ;
    animation:blink2 5s ease-in-out infinite ;
}
@-webkit-keyframes blink2{
    0% {opacity:0;}  
    33.3% {opacity:0;}
    37.4% {opacity:1;}
    62.5% {opacity:1;}  
    70.6% {opacity:0;} 
    99.9% {opacity:0;}
}

.blinking1{
	-webkit-animation:blink1 5s ease-in-out infinite ;
    -moz-animation:blink1 5s ease-in-out infinite ;
    animation:blink1 5s ease-in-out infinite ;
}
@-webkit-keyframes blink1{
    0% {opacity:1;}  
    29.3% {opacity:1;}
    37.4% {opacity:0;}
    66.6% {opacity:0;}  
    95.9% {opacity:0;}
    100% {opacity:1;}
}

